* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000 1px 1px;
  font-family: Helvetica;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(assets/Leonardo_Phoenix_A_vibrant_cityscape_at_night_set_against_a_de_3.jpg);
  background-size: cover;
  background-position: center;
}